#Checkpoints
checkpoints/
logs/
results/
tests/
tests_old/
run_vctk_tests.sh
run_arctic_tests.sh
cmu_gitcommits
test_nans.py

#Datasets
datasets/

#Configuration
config/*
!config/default.yaml

#Sypeder project
.spyproject

#pycache
*/__pycache__
**/__pycache__
