evaluate==0.4.2
fairseq==0.12.2
fastdtw==0.3.4
hyperpyyaml==1.2.2
librosa==0.9.1
matplotlib==3.5.2
numpy==1.21.5
parselmouth==1.1.1
pysptk==0.2.2
pyworld==0.3.4
PyYAML==6.0
PyYAML==6.0.1
resampy==0.4.0
resemblyzer==0.1.4
scipy==1.7.3
SoundFile==0.10.3.post1
speechbrain==1.0.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.64.1
transformers==4.40.2
